body {
    font-family: 'Roboto', Arial;
}
.logo {
    height: 100px;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.signup {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    color: white;
}

h1 {
    font-size: 46px;
}

.signup-text {
    width: 500px;
}

.signup-text p, li {
    font-size: 18px;
    color: #E5E7EB;
}
.beerpour {
    width: 400px;
}

h2 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    padding: 30px;
    font-size: 36px;
    font-weight: bolder;
    
}
.info-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 10px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    min-height: 100px;
    width: 100px;
    border: 2px solid #333333;
    border-radius: 20px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    background-color: #E5E7EB;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

h4 {
    display: flex;
    justify-content: flex-end;

}

.signup-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: #3882F6;
    margin: 100px;
    border-radius: 10px;
    
}

.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-content > * {
    margin: 0;
    font-size: 16px;
    color: white;
}

.signup-content h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.signup-button {
    display: flex;
    align-self: flex-end;
}

.button {
    color: white;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 5px 20px;

}

.signup-text .button {
    background-color: #3882F6;
    border-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

